footer {
    background: #E3E4E6;

    h5 {

        font-size: 16px;
        font-weight: bold;
    }

    .footer-menu {

        list-style: none;

        li {
            a {
                color: #555;
            }
        }
    }
}