.auth-container {

    .custom-login-form {

        .ant-form-item {

            margin-bottom: 10px;
        }

        box-shadow: 0px 0px 4px 2px #e4d9d9;
        border-radius: 10px;

        .form-heading {

            font-size: 28px;
        }

        .sub-p {

            color: #70737C;
        }

        .btn-submit {

            width: 100%;
        }
    }
}